
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
    width: 97%;
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.mapHolder {
   height: 70%; 
   width :50%; 
   margin-left:auto; 
   margin-right:auto;
       padding-right: 70%
}
