body {
    
/*font-family: 'Cormorant SC', serif;*/
/*font-family: 'Stint Ultra Expanded', cursive;*/
/*font-family: 'Bowlby One SC', cursive;*/
/*font-family: 'Exo', sans-serif;*/
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*LOGIN PAGE*/
input {
font-family: 'Special Elite', cursive;

    
}
#loginInBackground {
  margin-left: -512px;   /* 50% */
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
   margin: 0;
   padding: 0;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
  
}
#auth {
    position: absolute;
    padding-top: 50px;

}


#loginBackgroundParagraph{
    background-color: rgba(214, 166, 66, 0.53);
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 0%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

/*HOME PAGE / NAV*/
#mapHolder {
    padding-top: 25px;
}
#map {
    border-style: solid;
}


.navbar, tbody, p, #iw-container {
font-family: 'Special Elite', cursive;
    
}
th {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    
}
#searchHeader, #postal_code {
     color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 57px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 0.85;
    text-align: center;
}
#zipInput {
    max-width: 100%;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}


.navbar-brand {
    font-size: 24px;
    font-style: normal;
font-family: 'Special Elite', cursive;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    -webkit-transition:  0.8s;
    transition: 0.8s;
}
/*INFO WINDOW*/
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0 !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
    text-align: center;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 29px;
    padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}



#savedWrapper {
    padding-top: 50px;
}
.col-md-5 {
    padding-left: 0px;
}
    .signup, .login {
        padding-top: 50px;
    }   
    


.in-page {
    min-height: 520px;
}

.main {
    position: relative;
}

a {
    color: #1b5a7c;
}

a:hover, a:focus {
    color: #1b5a7c;
}

.btn-cyan {
    background-color: #1b5a7c;
    color: #fff;
}

.btn-cyan:hover {
    color: #fff;
    opacity: 0.9;
}

.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.min-height {
    min-height: 380px;
}

.login-screen {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen:before {
    content: "";
    background: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-center {
    text-align: left;
}

.login {
    width: 320px;
    color: #fff;
}

.login .login-form {
    text-align: left;
}

.login label {
    color: #fff;
}

.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #ddd;
}

.login-form .input-group .input-group-addon {
    background: none;
}

.login-form .input-group .input-group-addon .glyphicon {
    color: #1b5a7c;
}

.login-form .input-group .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.3;
}

.login .sign-btn input.btn {
    background: #1b5a7c;
    border-color: #1b5a7c;
    color: #fff;
    width: 180px;
}

.login .sign-btn a {
    text-decoration: none;
}

.login .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .forgot {
    display: inline-block;
    margin: 20px 0;
}

.btn, label {
font-family: 'Special Elite', cursive;
    color: #cccccc;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
#btnLogin {
   text-align: center;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
   
   border: 2px solid rgba(221, 221, 221, 0.65);
    color: rgb(245, 245, 245);
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

 #paginationBtn {
font-family: 'Special Elite', cursive;
     
 }


#loginContainerForm, #registerContainerForm {
    padding-top: 25px;
    
}
input {
/*      font-family: 'Helvetica Neue', sans-serif; */
    
}
input[type=text]:focus {
    border: 3px solid #555;


}

.form-control {
    display: inline-block;
    padding-top: 20px;
}

#loginHeader {
     color: #111;
      font-family: 'Helvetica Neue', sans-serif; 
      text-shadow:
                    -1px -1px 0 #000,
                     1px -1px 0 rgba(245, 245, 245, 0.46),
                    -1px 1px 0 rgba(255, 255, 255, 0.15),
                     1px 1px 0 rgba(255, 255, 255, 0.15);
      font-size: 75px; font-weight: bold; 
      letter-spacing: -5px; 
      line-height: .75; 
      text-align: center;
}


#loginHeader2 {
color: rgba(238, 238, 238, 0.96);
    font-family: 'Special Elite', cursive;
    font-size: 27px;
    line-height: 55px;
    margin: 0 0 7px;
    text-align: center;
}


#loginParagraph {
    color: #e5e5e5;
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
}
#loginLabels {
    padding: 0px;
}
.newSearch {
        float: right;

}

.col-md-offset-3 {
    margin-left: 20%;
}
.col-md-offset-4 {
    margin-left: 26.333333%;
}

#scrollArea {
  height: 280px;
  overflow: auto;
}

#top {
  display: block;
  margin-top: 2000px;
}
